{$STAGING_DOMAIN} {
  basicauth /* {
    {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
  }

  encode gzip

  handle_path /api/* {
    reverse_proxy api:5000
  }

  handle_path /crm/* {
    root * /srv/crm
    try_files {path} /index.html
    file_server
  }

  handle {
    root * /srv/storefront
    try_files {path} /index.html
    file_server
  }
}

